
.nav-list {
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: #8f8f8f;
  transition: all 0.2s ease;
}

.nav-item:hover {
  color: #222;
}

.nav-active {
  color: #222;
}

.nav-item:last-child {
  margin: 0;
}


